#three {
    padding: 3em 2em 1em;
}

.form {
}

label {
    display: block;
    color: var(--white);
    margin: .7em 0;
    font-weight: bold;
}

input, textarea {
    border-radius: 8px;
    border: solid 2px var(--green);
    background-color: var(--white);
    padding: 3px;
    width: 100%;
}