label {
    display: block;
    color: var(--white);
    margin: .7em 0;
    font-weight: bold;
}

input, textarea {
    border-radius: 8px;
    border: solid 2px var(--green);
    background-color: var(--white);
    padding: 3px;
    width: 100%;
}

.contact {
    padding: 0;
}

.icons {
    padding: 0;
}

    .icons li a {
        color: var(--blue);
    }

.red {
    color: var(--red);
}

@media screen and (min-width: 615px) {

    .half {
        display: flex;
        gap: 3em;
    }

    .halfwidth {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {

    .allcontact {
        display: flex;
        gap: 3em;
    }

    .form {
        width: 65%;
    }

    #contactinfo {
        border-left: 2px solid var(--purple);
        padding-left: 3em;
        margin-left: 2em;
    }

    textarea {
        resize: none;
    }
}