#signin {
    text-align: right;
    margin-right: 2%;
}

    #signin a {
        background-color: initial;
        background-image: linear-gradient(-180deg, var(--blue), #082f80);
        width: auto;
        height: 20px;
        line-height: 20px;
    }

        #signin a:hover {
            box-shadow: rgba(39, 119, 245, 0.8) 0 3px 8px;
        }


h1 {
    margin: 1.5em 0 0;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: medium;
    background-color: #34495e;
    border-radius: 8px;
    margin: 27px auto 0;
}

    nav a {
        color: white;
        text-decoration: none;
        line-height: 50px;
        text-transform: uppercase;
        font-size: small;
    }

.animation {
    display: none;
}

@media screen and (max-width: 615px) {
    #activehome {
        background-color: var(--green);
    }

    #activedonate {
        background-color: var(--red);
    }

    #activejoin {
        background-color: var(--blue);
    }

    #activecards {
        background-color: var(--purple);
    }

    #activecontact {
        background-color: var(--orange);
    }

    nav a:nth-child(1) {
        color: var(--green);
    }

    nav a:nth-child(2) {
        color: var(--red);
    }

    nav a:nth-child(3) {
        color: var(--blue);
    }

    nav a:nth-child(4) {
        color: var(--purple);
    }

    nav a:nth-child(5) {
        color: var(--orange);
    }

    nav a:hover, #activehome, #activedonate, #activejoin, #activecards, #activecontact {
        padding: 0 20px;
        border-radius: 8px;
        color: var(--white);
    }

    nav a:nth-child(1):hover {
        background-color: var(--green);
    }

    nav a:nth-child(2):hover {
        background-color: var(--red);
    }

    nav a:nth-child(3):hover {
        background-color: var(--blue);
    }

    nav a:nth-child(4):hover {
        background-color: var(--purple);
    }

    nav a:nth-child(5):hover {
        background-color: var(--orange);
    }
}

@media screen and (min-width: 615px) {

  h1 {
        font-size: 4em;
    }

    #activehome {
        color: var(--green);
    }

    #activedonate {
        color: var(--red);
    }

    #activejoin {
        color: var(--blue);
    }

    #activecards {
        color: var(--purple);
    }

    #activecontact {
        color: var(--orange);
    }

    nav {
        position: relative;
        width: 590px;
        height: 50px;
    }

        nav a {
            height: 100%;
            font-size: 15px;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-decoration: none;
            text-align: center;
        }

        nav .animation {
            display: inline-block;
            position: absolute;
            height: 100%;
            top: 0;
            z-index: 0;
            transition: all .5s ease 0s;
            border-radius: 8px;
        }

        nav a:nth-child(1) {
            width: 100px;
        }

        nav a:nth-child(2) {
            width: 110px;
        }

        nav a:nth-child(3) {
            width: 100px;
        }

        nav a:nth-child(4) {
            width: 160px;
        }

        nav a:nth-child(5) {
            width: 120px;
        }

        nav .start-home, nav a:nth-child(1):hover ~ .animation {
            width: 100px;
            left: 0;
            background-color: var(--green);
        }

        nav .start-about, nav a:nth-child(2):hover ~ .animation {
            width: 110px;
            left: 100px;
            background-color: var(--red);
        }

        nav .start-blog, nav a:nth-child(3):hover ~ .animation {
            width: 100px;
            left: 210px;
            background-color: var(--blue);
        }

        nav .start-portefolio, nav a:nth-child(4):hover ~ .animation {
            width: 160px;
            left: 310px;
            background-color: var(--purple);
        }

        nav .start-contact, nav a:nth-child(5):hover ~ .animation {
            width: 120px;
            left: 470px;
            background-color: var(--orange);
        }
}

@media screen and (min-width: 975px) {

    h1 {
        font-size: 6em;
    }
}