/*HEADER*/
header {
    padding: 2em;
}

.signin {
    text-align: right;
    margin-right: 2%;
}

    .signin a {
        background-color: initial;
        background-image: linear-gradient(-180deg, var(--blue), #082f80);
        width: auto;
    }

        .signin a:hover {
            box-shadow: rgba(39, 119, 245, 0.5) 0 3px 8px;
        }

h1 {
    margin: 1.5em 0 0;
    align-self: end;
    font-size: 2em;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-around;
}

    nav a {
        color: white;
        text-decoration: none;
    }

/*HERO*/

.hero {
    padding: 0 0 1em 1em;
}

.containermeet {
    display: grid;
    grid-template-rows: 3fr 20px 3fr;
}

@media screen and (max-width: 615px) {
    #activehome {
    }

    #activedonate {
    }

    #activejoin {
    }

    #activenfts {
    }

    #activecontact {
    }
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 2em;
    }

    .containerhero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 975px) {
    h1 {
        font-size: 4em;
    }
}

/*FOOTER*/
footer {
    border-top: 2px solid var(--purple);
    padding: 2em;
    margin: 6em 2% 2%;
    display: flex;
    justify-content: space-between;
}

.contactbtn {
    background-color: initial;
    background-image: linear-gradient(-180deg, var(--purple), #714195);
    width: auto;
}

    .contactbtn:hover {
        box-shadow: rgba(215, 123, 252, 0.5) 0 3px 8px;
    }