/*HEADER*/

.signin {
    text-align: right;
    margin: 1em 0 0 0;
}

/*NAVIGATION*/

.fixed {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px 0 5px 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    height: 4em;
}

.active {
    position: relative;
}

    .active::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        height: 5px;
        border-radius: 2px;
        background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
    }

/*HERO*/

h1 {
    margin: 1.5em 0 0;
    align-self: end;
    font-size: 2em;
    font-weight: 900;
}

.hero {
    padding: 0 0 1em 1em;
    margin-top: 85px;
}

.containermeet {
    display: grid;
    grid-template-rows: 3fr 20px 3fr;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 2em;
    }

    .containerhero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 975px) {
    h1 {
        font-size: 4em;
    }
}

/*FOOTER*/
footer {
    border-top: 2px solid var(--purple);
    padding: 2em;
    margin: 6em 2% 2%;
    display: flex;
    justify-content: space-between;
}

.contactbtn {
    background-color: initial;
    background-image: linear-gradient(-180deg, var(--purple), #714195);
    width: auto;
}

    .contactbtn:hover {
        box-shadow: rgba(215, 123, 252, 0.5) 0 3px 8px;
    }