/*COLORS*/
:root {
    --white: #ecf0f1;
    --green: #44aa43;
    --blue: #097dbb;
    --darkblue: #23527c;
    --tabblue: #0c6ea3;
    --purple: #c5a0e4;
    --darkpurple: #9d0fe6;
    --orange: #db3817;
    --gray: #8d9898;
    --black: rgb(7, 7, 8);
}

/*FONT*/
h1, h2, h3, .button, .font, nav {
    font-family: ethnocentric,sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--white);
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: var(--black);
    margin: 0;
}

main {
    max-width: 1100px;
}

h4 {
    color: var(--purple);
    padding: 0;
    margin: 0;
}

section {
    padding-top: 1em;
}

p {
    color: var(--white);
    font-size: 1.15em;
    line-height: 1.5;
    margin: 2% 2% 1.5em 2%;
}

.center {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

div.nopad {
    padding: 0;
}

.underline {
    text-decoration: underline wavy var(--purple);
}

.right {
    text-align: right;
}

.orangeglow {
    box-shadow: inset 0 50px 50px -25px var(--orange);
    border-radius: 50px;
}

.blueglow {
    box-shadow: inset 0 50px 50px -25px var(--blue);
    border-radius: 50px;
}

.grayglow {
    box-shadow: inset 0 50px 50px -25px var(--gray);
    border-radius: 50px;
}

.purpleglow {
    box-shadow: inset 0 50px 50px -25px var(--purple);
    border-radius: 50px;
}

.greenglow {
    box-shadow: inset 0 50px 50px -25px var(--green);
    border-radius: 50px;
}

/*BUTTON*/

button, .button {
    border-radius: 15px;
    background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
    padding: 12px 20px;
}

    .button:hover {
        box-shadow: var(--darkpurple) 3px 5px 15px 3px;
    }

.donate {
    text-align: center;
    margin: 1.5em 0;
}

/*IMAGES*/
img {
    max-width: 800px;
    width: 100%;
}

.imgdiv {
    text-align: center;
    padding: 2em;
}

.imgletter {
    border: none;
    max-width: 100px;
    margin-bottom: -25px;
    margin-right: -18px;
}

.imgcard {
    max-width: 200px;
    margin-right: -100px;
    margin-top: -175px;
}

.imgcardsm {
    max-width: 200px;
}

.stack {
    margin-right: 100px;
}

#imgcardI {
    margin-right: -35px;
}

.img350 {
    max-width: 350px;
    margin-bottom: 175px;
}

.img350sm {
    max-width: 350px;
}

.one, .two, .three, .four {
    padding: 3em 2em 1em;
}

.signup {
    display: flex;
    justify-content: space-around;
}

.flex {
    display: flex;
    gap: 1em;
}

.smallview {
    display: block;
}

.largeview {
    display: none;
}

.carddiv {
    display: grid;
    margin: auto;
    width: 175px;
    height: 180px;
}

fieldset {
    border: 8px rgb(141 152 152 / 50%) solid;
    border-radius: 8px;
    transform: rotate(180deg);
}

.fieldset1 {
    background: content-box center no-repeat url('../images/gen1robotsm.png');
}

.fieldset2 {
    background: content-box center no-repeat url('../images/gen2robotsm.png');
}

.fieldset3 {
    background: content-box center url('../images/gen3robotsm.png') no-repeat;
}

legend {
    font: 18px ethnocentric, sans-serif;
    color: var(--white);
}

fieldset>legend {
    transform: rotate(180deg);
    text-align: center;
}

.card {
    max-width: 75px;
}



@media screen and (min-width: 550px) {
    .smallview {
        display: none;
    }

    .largeview {
        display: block;
    }

    #abovecards {
        margin-bottom: 175px;
    }

    .cardsdiv {
        display: flex;
    }
}

@media screen and (min-width: 615px) {
    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

}

/*GRIDS*/
@media screen and (min-width: 775px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        align-items: center;
    }

    .examplecontainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5em;
    }

    .examplecontainers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

@media screen and (min-width: 975px) {
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

/*Stack*/
.hidea {
    display: none;
}

.on:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hidee {
    display: none;
}

.tw:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hidei {
    display: none;
}

.th:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hideo {
    display: none;
}

.fo:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hideu {
    display: none;
}

.fi:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}