/*COLORS*/
:root {
    --white: #ecf0f1;
    --green: #44aa43;
    /*--blue: #097dbb;*/
    --blue: #4977e9;
    --darkblue: #23527c;
    --tabblue: #0c6ea3;
    /*--purple: #c5a0e4;*/
    --purple: #3de1d3;
    /*--darkpurple: #9d0fe6;*/
    --darkpurple: #8860d0;
    --orange: #db3817;
    /*--gray: #8d9898;*/
    --gray: #c1c8e4;
    /*--black: rgb(7, 7, 8);*/
    --black: #072636;
}

/*FONT*/
h1, h2, h3, .button, .font, nav {
    font-family: ethnocentric,sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--black);
}

h1 {
    margin: 1.5em 0 0 2%;
    align-self: end;
    font-size: 2em;
    font-weight: 900;
    background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4, p {
    font-family: commuters-sans, sans-serif;
    color: var(--white);
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: var(--white);
    margin: 0;
    background-attachment: fixed;
    background-image: url("../images/backdrop.svg");
    background-position: 200% 100%;
    background-repeat: no-repeat;
}

main {
    max-width: 1100px;
    margin: auto;
}

h4 {
    color: var(--purple);
    padding: 0 2%;
    margin: 0;
    line-height: 1.4;
    font-size: 1.5em;
    font-weight: 100;
}

section {
    padding-top: 1em;
}

p {
    color: var(--white);
    font-size: 1.3em;
    line-height: 1.8;
    margin: 2% 2% 1.5em 2%;
    font-weight: 200;
}

.center {
    text-align: center;
}

.bold300 {
    color: var(--blue);
    font: 300 2em commuters-sans, sans-serif;
}

li {
    list-style: none;
    color: var(--purple);
}

a {
    text-decoration: none;
    color: var(--white);
}

    a:hover {
        color: var(--darkpurple);
    }

div.nopad {
    padding: 0;
}

.underline {
    text-decoration: underline wavy var(--purple);
}

.right {
    text-align: right;
}

.studentteacherlists {
    display: flex;
    justify-content: space-around;
    margin: 8em 0 4em;
}

.lists > h4:nth-child(2n+0) {
    color: var(--blue);
}

.orangeglow {
    box-shadow: inset 0 50px 50px -25px var(--orange);
    border-radius: 50px;
}

.blueglow {
    box-shadow: inset 0 50px 50px -25px var(--blue);
    border-radius: 50px;
}

.grayglow {
    box-shadow: inset 0 50px 50px -25px var(--gray);
    border-radius: 50px;
}

.purpleglow {
    box-shadow: inset 0 50px 50px -25px var(--purple);
    border-radius: 50px;
}

.greenglow {
    box-shadow: inset 0 50px 50px -25px var(--green);
    border-radius: 50px;
}

/*BUTTON*/

button, .button {
    border-radius: 15px;
    background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
    padding: 12px 20px;
    border: none;
}

    .button:hover {
        box-shadow: var(--darkpurple) 3px 3px 15px .3px;
        color: var(--black);
    }

.donate {
    text-align: center;
    margin: 1.5em 0;
}

/*IMAGES*/
img {
    width: 100%;
}

.imgdiv {
    text-align: center;
    padding: 2em;
}

.imgletter {
    border: none;
    max-width: 100px;
    margin-bottom: -25px;
    margin-right: -18px;
}

.imgcard {
    max-width: 200px;
    margin-right: -100px;
    margin-top: -175px;
}

.imgcardsm {
    max-width: 100px;
}

.stack {
    margin-right: 100px;
}

#imgcardI {
    margin-right: -35px;
}

.img350 {
    max-width: 350px;
    margin-bottom: 175px;
}

.img350sm {
    max-width: 350px;
}

.one {
    padding: 3em 2em 1em;
}

.two, .three, .four {
    padding: 8em 2em 1em;
}

.signup {
    display: flex;
    justify-content: space-around;
}

.flex {
    display: flex;
    gap: 1em;
}

.smallview {
    display: block;
}

.largeview {
    display: none;
}

/*GEN CARDS*/

.carddiv {
    margin: auto;
}

.cardsdiv {
    display: flex;
    flex-wrap: wrap;
}

.cardp {
    width: 170px;
    text-align: center;
}

fieldset {
    border: 8px rgb(141 152 152 / 50%) solid;
    border-radius: 8px;
    transform: rotate(180deg);
    width: 140px;
    height: 150px;
}

.fieldset1 {
    background: content-box center no-repeat url('../images/gen1robotsm.png');
}

.fieldset2 {
    background: content-box center no-repeat url('../images/gen2robotsm.png');
}

.fieldset3 {
    background: content-box center url('../images/gen3robotsm.png') no-repeat;
}

legend {
    font: 18px ethnocentric, sans-serif;
    color: var(--white);
}

fieldset > legend {
    transform: rotate(180deg);
    text-align: center;
}

.card {
    max-width: 75px;
}

@media screen and (min-width: 550px) {
    .smallview {
        display: none;
    }

    .largeview {
        display: block;
    }

    #abovecards {
        margin-bottom: 175px;
    }

    .cardsdiv {
        display: flex;
    }
}

@media screen and (min-width: 615px) {
    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

/*GRIDS*/
@media screen and (min-width: 775px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        align-items: center;
    }

    .examplecontainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5em;
    }

    .examplecontainers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .carddiv {
        margin: -6em 0 0;
    }
}

@media screen and (min-width: 975px) {
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

/*Stack*/
.hidea {
    display: none;
}

.on:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hidee {
    display: none;
}

.tw:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hidei {
    display: none;
}

.th:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hideo {
    display: none;
}

.fo:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

.hideu {
    display: none;
}

.fi:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 35px var(--gray);
}

/******JOIN******/

.overlaptitle {
    z-index: 1;
    position: absolute;
    margin-top: 6em;
    background: rgb(141 152 152 / 80%);
    padding: 1.2em 1.2em 3em;
    text-align: center;
}

    .overlaptitle > h2 {
        font-weight: 300;
    }

.tiercontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 2%;
    align-items: start;
    justify-items: center;
}

.tier {
    background: var(--gray);
    border-left: 3px solid var(--blue);
    border-right: 3px solid var(--blue);
    margin: -2.4em 0 0;
    max-width: 135px;
    text-align: center;
}

    .tier > h3 {
        font-size: 2.4em;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tier > h4 {
        color: #714195;
        margin: 2%;
        font-size: 2.2em;
        font-style: italic;
    }

    .tier > p {
        color: var(--black);
        margin: 0;
    }

.uptriangle {
    border-left: solid 70px transparent;
    border-right: solid 70px transparent;
    border-bottom: solid 70px var(--gray);
    height: 0;
    width: 0;
}

.lowtriangle {
    border-left: solid 70px transparent;
    border-right: solid 70px transparent;
    border-top: solid 70px var(--gray);
    height: 0;
    width: 0;
}

.righttriangle {
    border-top: solid 50px transparent;
    border-bottom: solid 50px transparent;
    border-right: solid 50px var(--gray);
    height: 0;
    width: 0;
}

.lefttriangle {
    border-top: solid 50px transparent;
    border-bottom: solid 50px transparent;
    border-left: solid 50px var(--gray);
    height: 0;
    width: 0;
}

.banner {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.bannerinner {
    background: var(--gray);
    height: 95px;
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    width: 100%;
    justify-content: space-around;
}

    .bannerinner > h3 {
        font-weight: 400;
        background: linear-gradient(132deg, var(--darkpurple) 9.6%, var(--blue) 93.6%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.tiersignup {
    margin: 8em 2em;
    text-align: center;
}

@media screen and (max-width: 370px) {
    .overlaptitle {
        position: inherit;
        margin-top: 2em;
    }
}