:root {
    --white: #ecf0f1;
    --green: #1abc9c;
    --red: #e74c3c;
    --blue: #3498db;
    --purple: #9b59b6;
    --orange: #e67e22;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}

section {
    padding-top: 1em;
}

h1 {
    margin: 1.5em 0 0;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 615px) {
    h1 {
        font-size: 4em;
    }
}

h1, h2, h3, .button {
    font-family: ethnocentric,sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--white);
}

p {
    color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.button {
    background-color: initial;
    background-image: linear-gradient(-180deg, var(--orange), #E62C03);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-top: 1em;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

    .button:hover {
        box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    }

.nopad {
    padding: 0;
}

#signin {
    text-align: right;
}

    #signin a {
        background-color: initial;
        background-image: linear-gradient(-180deg, var(--blue), #082f80);
        width: auto;
        height: 20px;
        line-height: 20px;
    }

        #signin a:hover {
            box-shadow: rgba(39, 119, 245, 0.8) 0 3px 8px;
        }

img {
    width: 100%;
    border: solid 2px var(--green);
    border-radius: 8px;
}

#one, #two, #three {
    padding: 3em 2em 1em;
}